*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #fffde7;
}

section{
  padding-top: 70px;
}

/* estilos para el header*/
header{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  background-color: #ff4d4d;
}

.div-img, .div-frase{
  display: inline-block;
  color: white;
}

.photo-perfil{
  border-radius: 50PX;
  width: 60px;
  height: 60px;
}

/* estilos para la seccion 'nav'*/
nav{
  position: fixed;
  width: 100%;
  margin-top: 0;
  z-index: 1000;
  background-color:transparent;
}

.div-anchor{
  background-color: transparent;
}

/* estilos para modal */
.container-modal{
  background-color: rgba(1, 0, 0, 0.5);
  position:fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.row-modal{
  background-color: white;
  padding: 10px;
  width: 80%;
  height: 80vh;
}

.header-modal h5{
  color: #26a69a;
}

.comments{
  overflow-y: scroll;
  height: 50vh;
}

.footer-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px;
}

.add form{
  padding: 20px;
  margin-top: 100px;
  width:100% ;
  height:100px; 
}

.icons-modal ul li a:hover{
  background-color: #ff4d4d; 
}
/* estilos para jquery */
.color-p{
  background-color: gainsboro;
}
