*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #fffde7;
}

section{
  padding-top: 70px;
}

/* estilos para el header*/
header{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  background-color: #ff4d4d;
}

.div-img, .div-frase{
  display: inline-block;
  color: white;
}

.photo-perfil{
  border-radius: 50PX;
  width: 60px;
  height: 60px;
}

/* estilos para la seccion 'nav'*/
nav{
  position: fixed;
  width: 100%;
  margin-top: 0;
  z-index: 1000;
  background-color:transparent;
}

.div-anchor{
  background-color: transparent;
}

.style-div{
  background-color: white;
}
