body{
  font-family: 'Open Sans Condensed', sans-serif;
}
nav{
  background:#ffffff;
  color: #000000;
}
.photo-perfil{
  border-radius: 50px;
}
.btn-follow{
  text-align: right;
}
.follow{
  background-color: #ff4d4d;
  text-align: center;
}
.frase{
  /* Se deben usar otras unidades de medida que no sean pixeles*/
  line-height: 1.5em;
}
.container-flex-vertical{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.nickName{
  text-align: center;
  font-size: 25px;
}
main{
  /*Para evitar el scroll, el background debería ocupar toda la página
  el contenido del usuario debería sobreponerse*/
  background-image: url(../assets/images/background.png);
  height:100vh;
}
.container-posts{
  width: 100%;
  height: auto;
  background:#ff4d4d;
  padding: 10px;
}
.time{
  color: #ffff;
  background:#40E0D0 ;
  margin-bottom: 10px;
}

/* El placeholder del textarea se pierde con la imagen de fondo,
por se agrega una clase para que el textarea tenga fondo blanco */
.bg-white {
  background-color: #FFFFFF;
}