*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container-header,.registro, .button-guardar{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

section, footer{
  color: #ff8a80 ;
}

.button{
 background: #ff8a80 ;
}
.phrase-style{
  color: #ff8a80 ;
}
#btn-frase{
  background: #ff8a80!important;
  color: #ffff;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
