<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
    <!-- estructura de la sección 'header' -->
    <header>
      <div class="container ">
        <div class="row">
          <h4 class="col s8">Nick Name</h4>
          <div class="div-img col s4">
            <img class="photo-perfil" src="../assets/images/rosa.jpg" alt="">
          </div>
          
        </div>
      </div>
    </header>
    <!-- estructura de la sección 'frase' -->
    <section>
      <div class="container">
        <div class="row">
          <h3 class="col s12">"frase"</h3>
          <h5 class="col s4">autor</h5>
        </div>
      </div>
    </section>
    <!-- estructura de la sección 'portada' -->
    <section>
      <div class="container">
        <div class="row">
            
        </div>
      </div>
    </section>
    <!-- estructura de la sección 'historias/blogs' -->
    <section>
      <div class="container">
        <div class="row">
              
        </div>
      </div>
    </section>
    <!-- estructura de la sección 'videos' -->
    <section>
      <div class="container">
        <div class="row">
                
        </div>
      </div>
    </section>
    <!-- estructura de la sección 'eventos/talleres' -->
    <section>
      <div class="container">
        <div class="row">
                  
        </div>
      </div>
    </section>
    <!-- estructura de la sección 'footer' -->
    <footer>
      <div class="container">
        <div class="row">
                   
        </div>
      </div>
    </footer>
    <!-- enlazando archivos js -->
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/registro.js"></script>
  </body>
</html>
