<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>     
    <!-- estructura de la sección 'header' -->
    <header>
      <div class="container ">
        <div class="row col s12">
          <div class=" div-frase left">
            <h3>"frase"</h3>
          </div>          
          <div class="div-img right">
            <img class="photo-perfil" src="../assets/images/rosa.jpg" alt="">
            <p class="">Nick Name</p>
          </div>
        </div>   
      </div>
    </header>
    <!-- estructura de la sección 'nav' -->
    <nav class="col s6">
      <ul id="tabs-swipe-demo  " class="tabs">
        <li class="tab col s3"><a href="#test-swipe-1">Portada</a></li>
        <li class="tab col s3"><a href="#test-swipe-2">Videos</a></li>
        <li class="tab col s3"><a href="#test-swipe-3">Eventos</a></li>    
      </ul>    
    </nav>  
    <br>
    <!-- estructura de la sección 'portada' -->
    <section id="test-swipe-1" class="col s12">
      <div class="container">
        <div class="row">      
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <a class=" btn-floating halfway-fab waves-effect waves-light add"><i class="material-icons">add</i></a>
                <p class="col s10">Publicado por: <a>Rosa</a></p>
              </div>
              <br>
              <div class="card-content">
                <span class="card-title">"Time´s Up": qué hay detrás del anuncio de protesta en los Globos de Oro</span>
                <p>Te contamos más sobre la iniciativa por la que casi la totalidad de los asistentes al evento acudieron vestidos de negro y con mensaje en la solapa</p>
                <br>
                <a href="https://elcomercio.pe/tvmas/hollywood/golden-globes-times-up-mensaje-asistentes-globos-oro-noticia-487160?foto=3" target="_blank">Enterate de más aquí!</a>
              </div>
            </div>
            <div class="div-icons style-div">
              <a class="btn-floating  waves-effect waves-light red comment"><i class="material-icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green comment"><i class="material-icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow comment"><i class="material-icons">star_border</i></a>
            </div>
            <div class="div-input">
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">add</i></a>
                <p class="col s12">Publicado por: <a>Luna_forever</a></p>
              </div>
              <br>
              <div class="card-content">
                <span class="card-title">"fui victima de violencia pero pude salir adelante"</span>
                <p>Hola, queria compartir mi experiencia al ser victima de abusos físicos y psicologicos por parte de mi pareja; él Siempre me hacia sentir culpable de lo que pasaba, yo era la que le tenía que pedir perdón cuando me pegaba porque decía que me portaba mal y tenía que pegar. Los hijos lo sienten y viven en ese ambiente de violencia y después lo transmiten. Por eso es importante no aguantar por los hijos, sino al revés. Primero hay que hacerlo por una misma y después para que los hijos vivan en un ambiente de armonía e igualdad. El me dijo más de una vez que nunca me separaría de él. Me llamó chiquita y aseguró que lo nuestro es amor o muerte. Salí corriendo de su lado llorando y el destino quiso que yo viera un cartel que decía 'Rompamos el silencio' y al lado un teléfono. Esa noche de madrugada llamé y tuve la fuerza de salir de mi casa con mis hijos y empezar una nueva vida"..</p>
              </div>
            </div>
            <div class="div-icons">
              <a class="btn-floating  waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green"><i class="material-icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow"><i class="material-icons">star_border</i></a>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">  
                <a class="btn-floating halfway-fab waves-effect waves-light add"><i class="material-icons">add</i></a>
                <p class="col s12">Publicado por: <a>Rosa</a></p>
              </div>
              <br>
              <div class="card-content">
                <span class="card-title">Ya es hora!</span>
                <div class="video-container">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/fN5HV79_8B8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <p>Este video me conmovio mucho, porfa compartanlo!!!.</p>
              </div>
            </div>
            <div class="div-icons">
              <a class="btn-floating  waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green"><i class="material-icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow"><i class="material-icons">star_border</i></a>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <a class="btn-floating halfway-fab waves-effect waves-light add"><i class="material-icons">add</i></a>
                <p class="col s12">Publicado por: <a>Luna_forever</a></p>
              </div>
              <br>
              <div class="card-content">
                <span class="card-title">Vamos chicas!!</span>
                <img class="responsive-img" src="../assets/images/encuentro-paz.jpg">
              </div>
            </div>
            <div class="div-icons">
              <a class="btn-floating  waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green"><i class="material-icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow"><i class="material-icons">star_border</i></a>
            </div>
          </div>   
        </div>
      </div>
    </section>
    <!-- estructura de la sección 'videos' -->
    <section id="test-swipe-2" class="col s12">
      <div class="container">
        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">  
                <a class="btn-floating halfway-fab waves-effect waves-light add"><i class="material-icons">add</i></a>
                <p class="col s12">Publicado por: <a>Rosa</a></p>
              </div>
              <br>
              <div class="card-content">
                <span class="card-title">Ya es hora!</span>
                <div class="video-container">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/fN5HV79_8B8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <p>Este video me conmovio mucho, porfa compartanlo!!!.</p>
              </div>
            </div>
            <div class="div-icons">
              <a class="btn-floating  waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green"><i class="material-icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow"><i class="material-icons">star_border</i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- estructura de la sección 'eventos/talleres' -->
    <section id="test-swipe-3" class="col s12">
      <div class="container">
        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <a class="btn-floating halfway-fab waves-effect waves-light add"><i class="material-icons">add</i></a>
                <p class="col s12">Publicado por: <a>Luna_forever</a></p>
              </div>
              <br>
              <div class="card-content">
                <span class="card-title">Vamos chicas!!</span>
                <img class="responsive-img" src="../assets/images/encuentro-paz.jpg">
              </div>
            </div>
            <div class="div-icons">
              <a class="btn-floating  waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
              <a class="btn-floating  waves-effect waves-light green"><i class="material-icons">comment</i></a>
              <a class="btn-floating  waves-effect waves-light yellow"><i class="material-icons">star_border</i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- enlazando archivos js -->
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/home.js"></script>
  </body>
</html>
