<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Perfil</title>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Dancing+Script|Lobster|Ranga" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../perfil.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body >
    <nav class="nav-extended">
      <div class="nav-wrapper">
      </div>
      <div class="nav-content">
        <span class="nav-title">Title</span>
        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
          <i class="material-icons">filter_vintage</i>
        </a>
      </div>
    </nav>
    <!---ENLAZANDO ARCHIVOS JS-->
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/perfil.js"></script>
  </body>
</html>
